@page "/"

<EditForm Model="@customer" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row w-100">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto shadow p-4 rounded bg-white">
                <h1 class="text-center mb-4">Customer Contact Form</h1>

                <div class="mb-3">
                    <label for="name" class="form-label">Full Name *</label>
                    <input type="text" class="form-control" id="name" @bind=@customer.Name />
                    <ValidationMessage For="@(() => customer.Name)" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email *</label>
                    <input type="text" class="form-control" id="email" @bind=@customer.Email />
                    <ValidationMessage For="@(() => customer.Email)" />
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number *</label>
                    <input type="text" class="form-control" id="phoneNumber" @bind=@customer.PhoneNumber />
                    <ValidationMessage For="@(() => customer.PhoneNumber)" />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" @bind=@customer.Address />
                    <ValidationMessage For="@(() => customer.Address)" />
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message *</label>
                    <textarea class="form-control" id="message" @bind=@customer.Message />
                    <ValidationMessage For="@(() => customer.Message)" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Service</label>
                    <select class="form-control" @bind="@customer.Service">
                        <option value="">Choose...</option>
                        <option value="Web">Web Design</option>
                        <option value="Security">Cyber Security</option>
                        <option value="Cloud">Cloud Computing</option>
                    </select>
                    <ValidationMessage For="@(() => customer.Service)" />
                </div>
                <div class="mb-3 form-check d-flex align-items-center">
                    <input type="checkbox" class="form-check-input me-3" id="terms" @bind="@customer.AcceptedTerms" />
                    <label class="form-check-label mb-0 me-2" for="terms">
                        I agree to the terms and conditions *
                    </label>
                    <span class="text-danger small">
                        <ValidationMessage For="@(() => customer.AcceptedTerms)" />
                    </span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {
    private CustomerVM customer = new CustomerVM();
    private void HandleValidSubmit()
    {
        Console.WriteLine("Form has been sent!");
    }
}
